In [1]:
import pandas as pd

In [4]:
c = pd.read_csv('dataset/dataset_sms_spam_v1.csv')

In [5]:
c

                                                   Teks  label
0     [PROMO] Beli paket Flash mulai 1GB di MY TELKO...      2
1     2.5 GB/30 hari hanya Rp 35 Ribu Spesial buat A...      2
2     2016-07-08 11:47:11.Plg Yth, sisa kuota Flash ...      2
3     2016-08-07 11:29:47.Plg Yth, sisa kuota Flash ...      2
4     4.5GB/30 hari hanya Rp 55 Ribu Spesial buat an...      2
...                                                 ...    ...
1138     Yooo sama2, oke nanti aku umumin di grup kelas      0
1139  üòÅ sebelumnya ga ad nulis kerudung. Kirain warn...      0
1140                               Mba mau kirim 300 ya      0
1141  nama1  beaok bwrangkat pagi...mau cas atay tra...      0
1142                         No bri atas nama kamu mana      0

[1143 rows x 2 columns]

In [6]:
# data_uji = c.sample(15)
# data_uji.to_csv('')

                                                  Teks  label
407  Pembayaran'nya bulan ini kalau mau di bayar ha...      1
344  km dari BANK BRI Sdh tlp tdk bs jd km SMS No.P...      1
104  Kartu 4G-LTE Anda telah aktif Dapatkan kuota t...      2
565  Ya Allah, semoga yg mempunyai hp ini & keluarg...      1
987  Paling seikhlasnya aja, yg mau nyumbang mangga...      0
999  pesan dari nama1 : Assalamu'alaikum wr.wb. Pak...      0
970             Oo kalau kamu misalnya lanjut brp dit?      0
493  Selamat,Kepada pelanggan 08157xxx Anda mendpt ...      1
800  InsyaaAllah ikhlas mel, asa udah di bahas digr...      0
965                  Oke kalau untuk dp harus berapa%?      0
899               Maaf kaprodi kita itu siapa yah hehe      0
270  BLACKBERRY ONLINE BIG SAL 50% BB Z10 Rp. 4 jt ...      1
906    Makasih gais doakan kami yg masih berjuang ya üí™      0
275  CAHAYA TRAVEL TIKET Murah & promo untuk penerb...      1
449  PROMO BLACKBERRY BB DAKOTA 2,9jt BB Torch 2jt ...      1